/*html,*/
/*body {*/
/*  width: 100%;*/
/*  height: auto;*/
/*  background: url("../img/bg-masthead.jpg") center;*/
/*  background-repeat: no-repeat;*/
/*  background-attachment: fixed;*/
/*  background-size: cover;*/
/*}*/


body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.navbar-custom {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: rgba(0, 0, 0, 1);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: absolute;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center center;
  /*background-attachment: scroll;*/
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-top: 15%;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .overlay {
  position: relative;
  background-color: #212529;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 4rem;
}

@media (max-width: 768px) {
  header.masthead {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  header.masthead h1 {
    font-size: 2rem;
  }
  .form-text {
    font-size: 1rem;
  }
}

    .showcase {
        position: relative;
        background-image: url("../img/bg-showcase-1.jpg");
        position: absolute;
        background-size: cover;
        height: 100%;
        width: 100%;
        font-size: 2rem;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    #result-btn {
        text-align: center;
        padding-left: 50%;
    }

    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
    }

    #break {
        /*height: 30px;*/
        background-color: color;
        margin: auto;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #result-img {
        max-height: 300px;
    }


    /*.parallax {*/
    /*  background-image: linear-gradient( rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url("img/bg-masthead.jpg");*/
    /*  width: 100%;*/
    /*  background-attachment: fixed;*/
    /*  background-position: center;*/
    /*  background-repeat: no-repeat;*/
    /*  background-size: cover;*/
    /*}*/
    #landing {
        display: table;
        width: 100%;
        height: 100%;
        background-size: cover;
    }



    /*  .showcase .showcase-text {*/
    /*  padding: 5rem;*/
    /*}*/
    /*.showcase .showcase-img {*/
    /*  min-height: 30rem;*/
    /*  max-width: 400px;*/
    /*  background-size: 100px;*/
    /*}*/

